---
layout: default
---

  
  <ul>
  {% for post in site.posts %}
    <li>
      <h3 class="article__title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>
      <time class="article__date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      <h6 class="article__title"> {{ post.excerpt }} </h6>
	   <a href="{{ post.url | prepend: site.baseurl }}" class="article__more">阅读全文 »</a>
    </li>
  {% endfor %}
</ul>

    <!-- <nav class="blocks blocks--space">
      <div class="blocks__item">
        {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}">Previous</a>{% endif %}
      </div>
      <div class="blocks__item">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </div>
      <div class="blocks__item">
        {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">Next</a>{% endif %}
      </div>
    </nav> -->
