---
layout: default
---

  
  {% for post in site.posts %}
    <article class="post">
      <header class="post-header">
        <h2 class="post-title"><a href="{{ site.github_url }}{{ post.url }}">{{ post.title }}</a></h2>
      </header>
      <section class="post-excerpt">
        <p>{{ post.description }}</p>
      </section>
      <footer class="post-meta">
        by <a href="{{ site.github_url }}about">{{ site.author.name }}</a> <img class="author-thumb" src="{{ site.author.picture }}" alt="{{ site.author.name }}">
        <time class="post-date" datetime="{{ post.date | date: "%-Y-%m-%d" }}">{{ post.date | date: "%d %b %Y" }}</time>
      </footer>
    </article>
  {% endfor %}

    <nav class="blocks blocks--space">
      <div class="blocks__item">
        {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}">Previous</a>{% endif %}
      </div>
      <div class="blocks__item">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </div>
      <div class="blocks__item">
        {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">Next</a>{% endif %}
      </div>
    </nav> 
