  <header class="header">

    {% if site.avatar %}
      <div class="header__logo">
        <a href="{{ site.baseurl }}/" class="header__link--logo">
        <!-- <div class="spinner"></div> -->
        <img src="{{ site.avatar }}"></a>
      </div>
    {% else %}
      <h1 class="header__logo">
        <a href="{{ site.baseurl }}/" class="header__link--logo">{{ site.title }}</a>
      </h1>
    {% endif %}

    <nav class="header__nav" role="navigation">      
      <a href="#" class="header__link">好友</a>
      <a href="http://github.com/{{ site.github_username }}" class="header__link" target="_blank">Github</a>
      <a href="{{ site.baseurl }}/about/" class="header__link">联系我</a>
    </nav>
  </header>

  <main class="col">
